PORT=

PASSWORD_PEPPER=
JWT_SECRET=
JWT_DURATION=

SUPABASE_URL=
SUPABASE_SECRET_KEY=

NODE_ENV=

RESEND_API_KEY=
EMAIL_FROM=

FRONTEND_URL=

ASAAS_API_URL=
ASAAS_API_KEY=
ASAAS_WEBHOOK_TOKEN=
ASAAS_CHECKOUT_SUCCESS_URL=
ASAAS_CHECKOUT_CANCEL_URL=